<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
<title>Movie Explorer</title>
<link rel="stylesheet" type="text/css"  href="../static/css/mainStyle.css" th:href="@{css/mainStyle.css}">
</head>

<body>
  
  <header>
  	<h1>Movie<span>Explorer</span></h1>
  </header>
  
  <main>
	  <form method="POST" action="/movies">
	  	<input type="text" name="searchvalue">
	  	<button type="submit" class="btn-submit">Search</button>
	  </form>
  
    <div th:each="movie : ${movies}" class="movie">
        <img th:src="${movie.image_url}" alt="Poster">
        <div  class="media-body">
       		 <p>Nome: <span th:text="${movie.name}"></span></p>
      		 <p>Ano: <span th:text="${movie.year}"></span></p>
      		 <p>Tipo: <span th:text="${movie.type}"></span></p>
        </div>
    </div>
  </main>
    
    
</body>
</html>